header{
    background-color:gray;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
}

nav{
   margin-top: 15px;
    text-align: center;
    display: block;

}
a {
    background-color: gray;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0 100px; 
    display: inline-block; 
}
section{
    display: flex;
    gap: 2rem;
}
article {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex:1;
    display: flex;
    flex-direction: column; /* Alinea los artículos uno encima del otro */
  
}
article .p1{
    background-color: gray;
    padding: 2rem;
    margin-bottom: 2rem;
}

article .p2{
    background-color: gray;
    padding: 2rem;
    margin-bottom: 2rem;
}

aside {
    flex: 1; /* Ajusta el tamaño del aside */
    display: flex;
    flex-direction: column; /* Alinea los elementos del aside uno encima del otro */
    gap: 20px; /* Espacio entre los contenedores del aside */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
aside .p11{
    background-color: gray;
    padding: 2rem;
   
}
aside .p22{
    background-color: gray;
    padding: 2rem;
    
}

footer{
    text-align: center;
    background-color: gray;

    padding: 8px;
}

@media (width<=700px) {
    body{
        background-color: red;
    }
    
  }
  


